
.grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* images */
img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

source {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

/* font styles */
h1 {
    border: 5px solid red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* hide skip to main */
.skip-main {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-main:focus {
    position: static;
    width: auto;
    width: auto;
}

/* allows background color to fill entire screen */
body {
    margin: 0;
    padding: 0;
}

/* navigation style */
nav {
    background-color: black;
    width: 100%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul li {
    display: block;
    margin-bottom: 5px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 16px;
    color: aqua;
    background-color: black;
    transition: background-color 0.3s;
}

nav ul li.active a {
    background-color: aqua;
    color: black;
    font-weight: bolder;
    text-decoration: underline;
}

nav ul li a:hover {
    color: black;
    background-color: aqua;
    text-decoration: underline;
    font-weight: bolder;
}

/* desktop nav styling */

@media only screen and (min-width: 601px) {
    nav ul {
        display: inline-block;
        text-align: left;
    }

    nav ul li {
        display: inline-block;
        margin-bottom: 0px;
    }
}

/* disable motion for users with reduced motion preference */
@media (prefers-reduced-motion: reduce) {
    img[src$=".gif"] {
        display: none !important;
    }

}