.content {
    grid-area: content;
}

.main-nav {
    grid-area: nav;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-areas: 
        "nav"
        "content";
}

@media (min-width: 500px) {
    .container {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 
            "nav" "nav"
            "content" "content";
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }
}

.grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* images */
img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

source {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

/* fr columns will be equal in width depending on viewport size */